---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About jamie',
	description: 'About ME',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Jamie</h1>
<p>chienhsuan hsiao </p>
			<p>

			Student in NCPA loves playing tennis and clay. </p>
<p> Yearning for the vastness of the starry skies and the boundless expanse of freedom.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/webjamie.github.io/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
    </p>
    <p>
</p>
    
    <p>
    
    </p>
    <p>

    </p>
  </TextSection>
</Layout>
