---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About jamie',
	description: 'About ME',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Jamie</h1>
			<p>Chienhsuan Hsiao</p>
			<p>Based in: Nansha | Guangzhou | New York | New Jersey</p>
			<p>I am a former student of NCPA China and a current freshman at Rutgers School of Arts and Sciences. Throughout my academic journey, I have developed a passion for tennis, clay modeling, and programming. I believe in the spirit of craftsmanship, dedicating myself to excelling in a few chosen pursuits.</p>
			<p>My pro-democracy values inspire me to advocate for freedom and justice in all aspects of my life. As Nelson Mandela once said, "To be free is not merely to cast off one's chains, but to live in a way that respects and enhances the freedom of others." I strive to embody this belief in my pursuit of knowledge and activism.</p>
		</div>
    <picture slot="image-container">
      <img
        src="/webjamie.github.io/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
    </p>
    <p>
</p>
    
    <p>
    
    </p>
    <p>

    </p>
  </TextSection>
</Layout>
